li{
	position: relative;
	line-height: 200%;
}
li .layerControls{
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
li.hover{
	border: 1px dotted #adadad;
}
li.hover > .layerControls{
	display: block;
}


form .form-group.required label:after{
	content: " *";
	color: red;
}